.content {
    width: 100%;
}
.cards {
    position: relative;
}
.card-container {
    box-sizing: border-box;
    padding: 20px;
    float: left;
    position: relative;
}
.card-btn {
    padding: 5px;
    width: 200px;
    border: none;
}